body.sb-show-main {
    margin: 0 !important;
    padding: 0 !important;
}

.flex {
    display: flex;
    width: 100%;
}

.margin-r-24 div:not(last-child) {
    margin-right: 24px;
    width: 100%;
}

.atlantum-div {
    height: 200px;
    color: white;
    background-color: blue;
    text-align: center;
}
