body.sb-show-main {
    margin: 0 !important;
    padding: 0 !important;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    padding: 48px;
    background-color: #eeeeee;
}

.grid > div {
    width: 24px;
}

.red {
    color: #d60d0d;
    width: 32px;
    height: auto;
    stroke-width: 2;
}

.flex {
    display: flex;
    width: 100%;
}

.margin-r-24 > *:not(:last-child) {
    margin-right: 24px;
    width: 100%;
}

.atlantum-view {
    max-width: 700px;
    padding: 48px;
}
.atlantum-full-view {
    padding: 48px;
}

.atlantum-compact {
    max-width: 400px;
    padding: 48px;
}

.atlantum-div {
    height: 200px;
    color: #1d202a;
    display: flex;
    background-color: #c3c3dc;
    align-items: center;
    justify-content: center;
}
